<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href='/static/in.css' />
    <title>Should It Be Hyphenated?</title>
   
</head>
      
       <body style="background-color: rgb(152, 157, 153);">
        
        <div id="column_container">
        
            <h1>Should It Be Hyphenated?</h1>
            <div class="newcon">
                <p style="margin: 1em; color: rgb(11, 64, 85); font-size: 1.25em">The question of whether a compound should be hyphenated can be surprisingly tricky to answer. Hyphenation often depends on context and part of speech; some terms, for example, are hyphenated before but not after a noun. Others are hyphenated when used as nouns but not as verbs. In other cases, it may be best to forgo hyphenation (or to include it) to maintain consistency within a document. And Googling a hyphenation question may be more confusing than helpful, because different style guides and sources have different (and often contradictory) standards. That's why it's best to turn to your friendly neighborhood editor with any hyphenation questions. But if you don't have an editor handy, an app made by an editor is the next best thing.</p>
            </div>
        </div>
       
        <div id="container">
            
            <div class="box" style="background-color: rgb(45, 91, 127)">
                <div class="more">
                    <form action="/how_it_works.html" method="post">
                    <p style="font-size: 1.25em; color: rgb(152, 157, 153);">
                    For details on the use of Should It Be Hyphenated? and the underlying tech, click
                    <input type="submit" style="background-color: rgb(45, 91, 120)" class="here_submit" value="here." name="use_and_tech_info"></p>
                    </form>
                </div>
            </div>

            <div class="box" style="background-color: rgb(11, 64, 85)">
                <div class="more"> 
                    <form action="/_compounds.html" method="post">
                    <p style="font-size: 1.25em; color: rgb(152, 157, 153);">
                    Ready to get an answer to your hyphenation question?
                    <input type="submit" style="background-color: rgb(11, 64, 85);" class="here_submit" value="Let's get started." name="start_compounds"></p>   
                    </form>
                </div>
            </div>
            
            <div class="box" style="background-color: rgb(45, 91, 127)">
                <div class="more">
                <form action="/_terms" method="post">
                    <p style="font-size: 1.25em; color: rgb(152, 157, 153);">
                    Need a refresher on the parts of speech? Not quite sure what a "compound" is? Click
                    <input type="submit" style="background-color: rgb(45, 91, 127);" class="here_submit" value="here" name="grammar_defs"> to brush up on your grammar.</p>
                </form>
                </div>   
            </div>
        </div>
            
        <br>
        <br>
        <section>
            <p><p>Created by Jolene Sundstrom, Technical Editor and Programmer Working in Python</p>
            <p><a href="mailto:jolene.sundstrom@gmail.com">Email me | </a><a href=" https://www.linkedin.com/in/jolenesundstrom/">Connect on LinkedIn | </a><a href="https://github.com/Jsundstrom0223/should_it_be_hyphenated">Check out the source code</a></p>
        <br>
        </section>
 
    </body>  
</html>