<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href='/static/in.css' />
    <meta name="viewport" content="width=device-width">
</head>

<body>
           
    <div id="new_con">
        <div class="newb">
            <h1>Should it be hyphenated?
            Let's find out.</h1>
        </div>
    </div>
  
    {% if first_page %}
    <div id="new_con">
        <div class="newb" style="margin-left: 1em">
            <a href="/">Back to the main page</a>
        </div>
        <div class="newb">
        <h2>Enter a Compound Term</h2>
    
        {% if mistake %}
            <p>The input you provided did not include a hyphen ("-"). Please try again and ensure that your input includes one.</p>
        {% else %}
            <p>In other words, enter two terms separated by a hyphen (e.g., "well-being," "hard-working," "brightly-lit," etc.). One or both of those terms can be a number, but please use the numeral version (10) instead of the spelled-out version (ten).</p>
        {% endif %}
        </div>
    </div>
    
    <form action="/_compounds.html" method="post">
        <label for="name" style="color: rgb(36, 101, 49)"></label> <input type="text" id="name" name="user_compound"/>
        <input type="submit" class="standard_submit" name="form_1"/>
        <p>
    </form>
    
    {% endif %}

    {% macro closed_or_open(i) %} 
    <br> 
    <li>{{i[0]|capitalize}}: {{i[1]|capitalize}}
        <ul>        
            {% for k,v in i[2].items() %}
                <li>{{k|capitalize}}: {{v|trim("[]")|capitalize}}</li>
            {% endfor %}
        </ul>
    </li>
    {% endmacro %}

    {% macro pick_a_part(name, value='', st='') -%}
   
        <div id="column_container">
            <div class="newb">
                <p style="font-size: 1.25em"> Merriam-Webster's Collegiate® Dictionary lists the following definitions and senses for the words in your search term. For each part of your search term, review the definitions and associated senses; then select the part of speech that most closely matches your use from the drop-down menu.</p>
            </div>
            <div class="newb">
                <p style="font-size: 1.25em">Note that if either of the terms is a participle (a word formed from a verb, like "running" or "been") one of its "definitions" will simply be the verb from which it is formed. This also applies to terms that are both the past tense and past participle of a verb, like "lit" (the past tense and past participle of "light").</p>
                <br>
            </div>
        </div>

        <form action="/_compounds.html" method="post" id="gill">

        <fieldset style="border: solid transparent">
          
            <br>
            <hr style="background-color:  rgb(36, 101, 49); height: .25em; border: none;"></hr>
            <br>
            {% for i in value %}
                {% if loop.first %}
                    {% set which = "first" %}
                    {% set term = st[0] %}
                    {% set sn = "first_part_of_speech" %}

                {% else %}
                    {% set which = "second" %}
                    {% set term = st[1] %}
                    {% set sn = "second_part_of_speech" %}
                {% endif %}
                
                
                <label style="margin-left: .66em; color: rgb(36, 101, 49); font-size: 1.75em;">The {{which}} term in your compound is "{{term}}". How is it being used?</label>
                
                {%for j in i%}
                
                    <p style="font-weight: bold; font-size: 1.5em">{{j.to_display|capitalize}}</p>
                    {% if j.part_type != "variant_diff_crts" %}
                        {% for k,v in j.definition.items() %}
                        <dd style="font-family: Georgia, serif; font-size: 1.25em; color: rgb(11, 64, 85);
                        margin-left: 3em;">{{v |join('; ') |trim("[]—")|capitalize}}</dd>
                        {% endfor %}

                    {% else %}
                        {% for d in j.definition %}
                            {% for k,v in d.items() %}
                                <dd style="font-family: Georgia, serif; font-size: 1.25em; color: rgb(11, 64, 85);
                                    margin-left: 3em;">{{k|capitalize}}
                                    <p>{{v|trim("[]{}'—")|capitalize}}</p>
                                </dd>
                            {% endfor %}
                        {% endfor %}

                    {% endif %}

                {% endfor %}
                    <br>
                   
                
        {% endfor %}            
        <p>
        <input type="submit" class="standard_submit" style="font-size: 1em" name="part_of_speech_selections"/>
        
        </form>
        </fieldset>
        
    
    {% endmacro %}
    
    {% if typo %}
        <h2>Oh no!</h2>
        <p>{{header}}</p>
        <p>{{typo}}</p>
        <p>To try again, click <a href="/_compounds.html">here.</a></p>
    
    {% else %}
        {% if standard %}
        <p>{{standard}}</p>
        {% endif %}

        {% if num %}
        <p>{{num}}</p>
        {% endif %}
    

        {% if defs_to_show and search_term %}
            <p>{{pick_a_part(part_selection, value=defs_to_show, st=search_term) }}</p>
        {% endif %}
       

        {% if found_in_MW %}
        
                    <p style="font-weight: bolder; color: rgb(36, 101, 49);
                    font-size: 1.5em;">{{header}}</p>
                         
                        {% for o in found_in_MW %}
                        {% for k,v in o.items() %}
                        <ul>
                            <li style="margin-left: 2.5em; font-weight: bold">{{k.capitalize()}}
                                
                                <ul>
                                <li style="margin-left: 2.5em; margin-bottom: 1em">{{v}}</li>
                                </ul>
                            </li>
                        </ul>
                        {% endfor %}
                        {% endfor %}
                            
                        
                    
                  
            <br>
               
        {% endif %}

        <p>To enter another compound, click <a href="/_compounds.html">here.</a></p>

    {% endif %}
  
</body>    
</html>