<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href='/static/in.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="column_container">
    <div class="column_box">
        <h1>Brush Up on Your Grammar</h1>
    </div>
</div>

<body>
    
    {% if not answer %} 
    <div id="column_container">
        <div class="column_box" style="margin: .25em 1em">
            <a href="/">Back to the main page</a>
        </div>
    </div>
    
    <h2>Select the term(s) that you'd like to learn more about.</h2>

    <form action="/_terms" method="post" id="get_some_defs" style="border: 10px solid transparent; border-top-color:  rgb(109, 40, 99); box-sizing: border-box;">
        <br>
        <div class="column_container">    
            <div class="box">
                <div class="lil_box">
                    <input type="checkbox" id="adjective" name="adjective"unchecked />
                </div>
                <div class="lil_box">
                    <label for="adjective" class="check_container">Adjective</label>
                </div>
            </div>
            
            <div class="box">
                <div class="lil_box">
                    <input type="checkbox" id="adverb" name="adverb" unchecked />
                </div>
                <div class="lil_box">
                    <label for="adverb" class="check_container">Adverb</label>
                </div>
            </div>
            
            <div class="box">
                <div class="lil_box">
                    <input type="checkbox"  id="compound" name="compound"  unchecked/>
                </div>
                <div class="lil_box">
                    <label for="compound" class="check_container">Compound</label>
                </div>
            </div>

            <div class="box">
                <div class="lil_box">
                    <input type="checkbox" id="noun" name="noun" unchecked />
                </div>
                <div class="lil_box">
                    <label for="noun" class="check_container">Noun</label>
                </div>
            </div>

            <div class="box">
                <div class="lil_box">
                    <input type="checkbox" id="participle" name="participle" unchecked />
                </div>
                <div class="lil_box">
                    <label for="participle" class="check_container">Participle</label>
                </div>
            </div>

            <div class="box">
                <div class="lil_box">
                    <input type="checkbox" id="verb" name="verb" unchecked />
                </div>
                <div class="lil_box">
                    <label for="verb" class="check_container">Verb</label>
                </div>
            </div>
            <br>
            <div class="box">
                    <input type="submit" class="standard_submit"/>
                
            </div>
        </div>
    </form>

    {% else %} 
        <div id="column_container">
            <div class="column_box" style="margin: .25em 1em">
                <a href="/">Back to the main page</a>
            </div>
            <div class="column_box" style="margin: .25em 1em">
                <a href="/_terms">Look up some more terms</a>
            </div>  
        </div>

        <div class="column_container">
            <div class="column_box">
                <h2>Definitions</h2>
            </div>
            
            {% for d in answer %} 
            <div class="column_box">
                <p style="font-size: 1.5em; font-weight: bold; margin-left: .75em">{{d.term | capitalize}}</p>
                <p style="font-size: 1.25em; margin-left: 1em; color: rgb(36, 101, 49); font-weight: bolder">The official definition</h2>
                <p style="font-size: 1.25em; margin: 0em 0em 0em 1em;">Merriam-Webster's Collegiate® Dictionary defines '{{d.term}}' as '{{d.official | trim("()")}}.'</p>
                <p style="font-size: 1.25em; margin-left: 1em; color: rgb(36, 101, 49);font-weight: bolder">The plain English definition</h2>
                <p style="font-size: 1.25em; margin: 0em 0em 0em 1em; white-space: pre-wrap">{{d.plain_english}}</p>
            </div>
            {% endfor %}
          
         </div>
    {% endif %}
<br>
<br>
</body>
</html>