<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href='/static/in.css' />
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
           
        <div id="new_con">
            <h1>How It Works</h1>
        </div>
       
        <div id="column_container">
            <div class="newb" style="margin-left: 1em">
                <a href="/">Back to the main page</a>
            </div>
        </div>
                
                <h2>The Basics</h2>

                <p style="font-weight: 500; font-size: 1.25em; margin-left: .75em; color: rgb(36, 101, 49)">How does it work?</p>
                
              
                    <p>Once you've entered a compound that you think may be hyphenated, one of two things will happen: 
                    You'll either receive an answer to your hyphenation question, or you'll be asked a quick question about your use of the compound.</p>
                    
                         
                        <p>You'll receive an answer right away in the following cases:
                      
                        
                        </ul>
                   
                        <li>The Chicago Manual of Style includes a hyphenation rule that's directly applicable to your search term</li>
                        <li>The compound is in the Merriam-Webster dictionary as a hyphenated compound (e.g., "well-being"), a closed compound (e.g., "hardworking"), or an open compound (e.g., "close call")</li>
                       
                 
                        <p>Otherwise, the app will look up each part of your compound in the Merriam-Webster dictionary and ask you to pick the definition that most closely matches your use of the term. In that case, you’ll receive an answer after you’ve made your selections.</p>
                    
                <p style="font-weight: 500; font-size: 1.25em; margin-left: .75em; color: rgb(36, 101, 49)">What is it?</p>
                <p>Should It Be Hyphenated? is a Flask app with a Python back end. The app relies on the Merriam-Webster Collegiate Dictionary API and is hosted on Render.</p>
                <p style="font-weight: 500; font-size: 1.25em; margin-left: .75em; color: rgb(36, 101, 49)">What else should I know?</p>
                
                    <p>Should It Be Hyphenated? is a work in progress with a few minor limitations</p>
                    <li>The app adheres to Chicago Manual of Style hyphenation standards and retrieves all definitions / spellings from the Merriam-Webster Collegiate Dictionary, one of the dictionaries recommended by the manual.</li>
                    <li>Currently, the app does not support search terms with more than one hyphen; nor does it differentiate between compounds that use a hyohen and compounds that use an en dash.</li>
                    <li>The Merriam-Webster Collegiate Dictionary API enforces a rate limit of 1,000 queries a day.</li>

                </ul>
            <br>
            <br>
                
                
      

            
    </body>
</html>